
body {

	/*google fonts*/
	font-family: 'Noto Serif', serif;

	/*contenido centrado*/
	margin:0 auto;
	width: 100%;
	background-color: #e8e8e8;
}


/*color de los textos*/
p {

	color: #1c1c1c;

}



div.desplazador-arriba {

	position: fixed;

	/* posicion desde calculada desde el elmento padre */
	bottom:5vh;
	right:3vw;

	/*sobresaltamos el enlace para que siempre sea visible */
	z-index: 100;
	color:white;
	font-size: 3rem;

}


main {

	width: 70%;
	margin: 0 auto;

}


header {

	/* contenedor con hijos flexibles */
	display: flex;

	/* cuando no caben se disponen en la linea de abajo */
	flex-wrap: wrap;
	padding-top: 3%;
	
	
}


/*logo y oscarsclub*/
header div {

	flex: 1;

	/*alineación vertical*/
	vertical-align: middle;
	text-align: left;
	padding-left: 2%;

	/* tamaño de fuente que varia segun el tamaño de la ventana */
	font-size: 2.4vw;
	

}

/* Convertimos en 'inline' el div de la imagen de la cabecera para que se vea junto con el texto.*/
header > div > div {

	display: inline;

}

/*accedemos al texto club*/
header > div  b {

	color: black;

}


/*elemento de navegacion*/
header div + nav {

	/* proporción del ancho de la columna de los elementos del menú de la cabecera*/
	flex: 1.6;
	text-align: center;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;

	/* tamaño de la fuente en relación con el ancho de la ventana*/
	font-size: 1.5vw;


}


/* el boton de la cabecera*/
header div + nav + div {

	flex: 1;
	text-align: right;
	padding-right: 2%; 

}


h1 {
	margin-bottom: 2%;
}


nav ul li {

	/* lista en linea del menu de la cabecera */
	display: inline;
	padding-left: 2%;
	padding-right: 2%; 

}


.seccion-centrada > p {

	width: 60%;
	margin: 0 auto;

}

section {

	text-align: center;
	margin-bottom: 5%; 

}

/* Enlaces */

a {

	text-decoration: none;
	color:#9b1700;
}

nav li a {

	color: rgb(28, 28, 28);
}

nav li a:hover {

	color: rgba(28, 28, 28,0.5);
}


.activado, nav li a:active {

	font-style: italic;
	font-weight: 700;
	color: rgb(28,28,28);

}



/******************************************************************************************************* index.html *********************************************************************/



/* elemento padre con flexbox */
div.columns-flex {

	display: flex;
	text-align: center;

}

/* Elementos hijo*/
div.columns-flex div{

	/* proporcion igual para cada columna hijo */
	flex: 1; 
	text-align: center;
	
}


div.columns-flex div h1 {

	/*Para las tres lineas de texto de index.html*/
	text-align: left;

}



img.icono-como-funciona {

	/* para qeu no ocupe todo el ancho del elemento hijo */
	width: 80%; 

}


/* para la segunda seccion de index.html definimos el elemento como flexbox */
div.columns-flex2 {

	display: flex;

}


div.columns-flex2 form, fieldset  {

	width: 100%;
	flex: 0.8;  /* esta propiedad solo se aplica a el --form-- */
	border: 0px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

div.columns-flex2 div {


	/* proporcion de al segunda columna de la sección */
	flex: 1.2;
	text-align: left;

}


/* selector contenedor de los inputs*/
div.columns-flex2 fieldset div {

	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
	width: 100%;
	
}


/*controles*/
input[type="text"], input[type="password"], input[type="email"] {


	box-sizing: border-box; /* al padding y el border no afecta al tamañó de la caja */
	border: 1px solid black;
	border-left: 1px solid grey;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	width: 100%;

}


/*********************************************************************************pie de pagina **************************************************************/

/* footer flexbox */
body footer {

	display: flex;
	/* si los elementos hijos no caben pasan a la siguiente linea */
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	background-color: #433A44;
	color: white;
	padding: 4% 2% 0% 2%;

	/*al ancho hay que restarle los padding del 2% para tener un ancho del 100% */
	width: 96%;

	
}

footer a {

	color:white;

} 

footer a:hover {

	color: #9b1700;

}


/* selector primer hijo del footer flexbox */
footer ul {

	flex: 1;
	margin:unset;
	padding: unset;
	margin-bottom: 3%;
	list-style: none;

}


footer ul li {

	display: inline;
	padding: 0.3% 0% 0.3% 0%;
	

}

/* segundo hijo del footer flexbox */
footer ul + ul{

	text-align: right;
	flex: 1;
	
}


/* tercer hijo del footer flexbox */
footer ul + ul + ul {

	/* para que lo ponga debajo (proporción el doble y ancho 100%) */
	flex: 2 100%;
	text-align: left;
	
}

/* disposición uno debajo del otro */
footer ul + ul + ul li {

	display: block;

}


/* clase para los botones de la web */
.boton {

	background-color: #9b1700;
	color:white;
	border: 0;
	border-radius: 5px;
	padding: 2% 4% 2% 4%;
	font-size: 1.3vw;
	
}

.boton:hover {

	background-color: rgb(28, 28, 28);

}




/******************************************************************** clubes tematicos **********************************************************/



/*centramos titulo*/
article h1 {

	text-align: center;
}

article div.container {

	
	display: grid;

	/*cuadricula flexible: repetimos hasta qeu sea posible 3 columnas con minimo ancho cada una en pixeles y
	y hasta ocupar el ancho posible */
	grid-template-columns: repeat(3, minmax(120px, 1fr));

	/*separación entre imagen e imagen también en sesiones 2020 */
	grid-gap: 30px;
	

}



article div.container img {

	/*definimos el 100% para que la imagen ocupe el 100% de la celda de la parrilla*/
	width: 100%; 

}



article div.container figure {

	margin: 0;

}

/* antes del elemento titulo temático escribimos los puntos*/
.titulo-tematico:before {

	content: "····   ";
	color:#9b1700;
	font-weight: bolder;

}


/************************************************************************************sesiones 2020 ***************************************************/


/* menu temático de sesiones 2020 */
aside ul li a{

	font-family: 'Open Sans', sans-serif;
	color:rgb(28, 28, 28);

}

aside ul li a:hover {

	color: rgba(28, 28, 28,0.5);
}


aside ul {

	list-style-type: none;

	/* valores iniciales anulados */
	padding: unset;

}


article section h1 {

	text-align: left;
}



article section div.container img {

	/*subimos la imagen 40px */
	margin-top: -40px;

}



.section-sesiones-2020 h1 {

	text-align: center;
}

.section-sesiones-2020{

	/* linea de puntos*/
	border-bottom: 4px dotted #9b1700;
	text-align: left;
	margin-bottom: 2%; 
	
}

.section-sesiones-2020 p{

	margin-bottom: 2%;

}

div.outer-container {

	display: flex;
	
}

div.outer-container aside {

	text-align: left;
	flex: 1 ;

}



div.outer-container div {

	/* proporcion 4 veces mas que su hermano*/
	flex: 4;
	text-align: center;

}


article div.container div {

	margin-bottom: 10%;

}


article section div.container figure {

	/*ocupa todo el ancho del DIV que este ultimo corresponde al elemento hijo del elemento qwue contiene la clase container*/
	width: 100%;
	height: 100%;
	background-color: white;

	/*margen con el DIV que es de contenedor del figure */
	margin-bottom: 20%;

}

article section div.container figure:hover {

	opacity: 0.5;

}

article section div.container figure img {

	/*ocupa todo el ancho de su elemento padre figure */
	width: 100%;


}


/* el elemento figcaption lo ponemos antes del elemento img para poder calcular la posición relativa al padre.*/
article section div.container figure  figcaption {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1vw;
	color:#9b1700;
	text-align: left;
	top: calc(100% - 40px);
		
	/*posicion relativa, en este caso es la del padre que es el elemento figure*/
	position: relative;
	padding-top: 1vh;
	padding-left: 0.3vw;
	font-weight: bolder;
	
}



.titulo-sesiones:before {

	margin-left: -2%;
	margin-right: 1.5%;
	content: "·····   ";
	color:#9b1700;
	font-weight: bolder;

}
.titulo-sesiones {

	text-align: left;
	
}
/******************************************************************************detalle sesion ************************************************************/


article aside h1 {

	text-align: left;

}


/* elemento flexbox */
article.wrapper-detalle {


	display: flex;
	flex-wrap: wrap;

}

/* proporcion 1.5 del ancho */
article.wrapper-detalle aside {

	flex: 1.5;
	text-align: left;
	padding-right:  2%;

}

/*proporcion 2 del ancho */
article.wrapper-detalle section {

	flex: 2;
	text-align: justify;
		
}

article.wrapper-detalle section h1 {

	text-align: left;
	
}


	/*respetamos propiedades de la siguiente regla al poner inline-block*/
article.wrapper-detalle section div:last-child p {

	display: inline-block;
	
}

article.wrapper-detalle section div:last-child p::first-letter, article.wrapper-detalle section div span {

	font-size: 1.4rem;

}


iframe {

	width: 100%;
	height: 100%;

}


/* contenedor del iframe */
div.trailer-pelicula {

   width: 100%;
   height: 45vh;
}

.imagen-Sergio-Pablos{

		float: left;

		/*imagen redondeada*/
		border-radius: 100px;
		
}

div.div-imagen-Sergio-Pablos img {

	/* el texto respeta la forma de la foto redondeada*/
	/* Da error en el validador */
	shape-outside: circle();
	margin-right: 2%;

}

/* lista de descripcion*/

dt {

	width: 100%;
	border-bottom: 1px solid grey;
	
}


dd, dl {

	line-height: 1.2rem;
}

dd {

	padding-bottom: 3%;
}


/****************************************** hilo de Ariadna*************************************/


/* Hemos definido un valor en el tercer elemento del hilo de Ariadna para facilitar el acceso, no solo
 para cambiar el color, sino como futuras vias de desarrollo. */
ul.breadcrumb li[value="100"] {

	color: rgba(28, 28, 28,0.5);

}

ul.breadcrumb {

  margin-top: 4%;
  padding: unset;
  list-style: none;
  
}



ul.breadcrumb li {
  
  display: inline;
  font-family: 'Open Sans', sans-serif;

}

ul.breadcrumb li+li:before {

  padding: 7px;
  content: "/ ";
}


ul.breadcrumb li a {
  
  /* color heredado */
  color:inherit;

}



/******************************************************VALIDACION************************************************/

/* solo cuando el control tiene el foco aplicamos estilos de validación para qeu no sea molesto a la vista
 una vez rellenado el campo */
input:valid:focus {
	
	background-color: rgb(189,236,182,0.5); /*en verde con opacidad*/
	

}

/* solo cuando el control tiene el foco aplicamos estilos de validación para qeu no sea molesto a la vista
 una vez rellenado el campo */

input:invalid:focus {

	background-color: rgb(256,0,0,0.1); /*en rojo con opacidad*/
	
}


/******************************************************************************************************************/
/*** cuando la resolución del dispositivo como máximo es de 768px de ancho se aplican estas reglas de estilo.
*******************************************************************************************************************/

@media screen and (max-width: 768px) { 


	
	main {

		margin: 0 auto;

		/*aumentamos el ancho respecto dispositivos grandes.*/
		width: 90%;

	}


	/*logo y oscarsclub*/
	header div {

		/* el orden de visualización del elemento lo indicamos con la propiedasd -order-.*/
		order: 1;
		font-size: 1.5rem;

		/* todo el ancho del dispositivo */
		flex: 1 100%; 
		text-align: center;

	}

	/*elemento de navegacion se mostrará el último de los tres elementos hijos, por defecto el order = 0; */
	header div + nav {


		order: 2;
		font-size: 1rem;
		flex: 1 100%;
		text-align: center;


	}


	/* cambiamos la visualización del menu de navegación */
	nav ul li {

		display:block;

	}


	/* el boton del menu de navegación */
	header div + nav + div {

		order: 0;
		flex: 1 100%;
		text-align: center;
		margin-bottom: 1%;

	}

	footer {

		display: flex;
		flex-wrap: wrap;

	}



	footer ul {

		flex: 1 100%; 
		margin-bottom: 7%;

	}

	/* para la primera lista del pie insertamos un buen margen al final.*/
	footer ul:first-child {

		margin-bottom: 15%;

	}


	/*No pintamos por pantalla los puntos de entre los enlaces */
	footer span {

		display: none;

	}


	footer ul li {

		display: block;
		text-align: center;

	}

	/* cambiamos la visualización para que se vea una unica columna */
	div.columns-flex {

		display: block;
		/*centramos los elementos */
		margin: 0 auto;
		
	}

		
	fieldset {

		flex: 1;	
	}


	.titulo-tematico:before {

		content: "······ ";
		margin-right: 1%;
		color:#9b1700;
		font-weight: bolder;

	}


	div.columns-flex2 {

		display: flex;
		flex-wrap: wrap;

	}


	div.columns-flex2 form  {

		/* el hijo ocupa todo el ancho disponible */
		flex: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', sans-serif;

	}


	div.columns-flex2 div {

		/* el hijo ocupa todo el ancho disponible */
		flex: 100%;

	}

	article div.container {

		/*cuadricula flexible: repetimos hasta qeu sea posible 1 columnas con minimo ancho cada una en pixeles y
		y hasta ocupar el ancho posible  */
		grid-template-columns: repeat(1, minmax(320px, 1fr));

	}



	div.outer-container aside {

		text-align: left;
		/* el hijo ocupa todo el ancho disponible */
		flex: 100%;

	}



	div.outer-container div {


		/* el hijo ocupa todo el ancho disponible */
		flex: 100%;

	}


	article section div.container figure  figcaption {

		font-size: 1.2rem;
		padding-left: 2vw;
		padding-bottom: 2%;

	}


	.section-sesiones-2020  {

		border-bottom: none;
		text-align: left;
		
	}

	.seccion-centrada p {

		width: 100%;

	}

	.titulo-sesiones:before {

		margin-left: -1.5%;
		margin-right: 1.5%;
		content: "···   ";
		color:#9b1700;
		font-weight: bolder;

	}


	/**/
	article div.container div {

		width: 80%;
		margin: 0 auto 10% auto;
	}


	article.wrapper-detalle aside {

		flex: 100%;
		text-align: left;
		
	}

	article.wrapper-detalle section {

		flex: 100%;
		text-align: left; 		
	}

	article.wrapper-detalle section h1 {

		text-align: left;

	}

	/* esta regla está repetida pero porque no se puede ejecutar para dispositivos grandes
	ya que hacemos un display:none del span. y por eso la escribimos de nuevo para dispositivos
	pequeños. */
	article.wrapper-detalle section div:last-child p::first-letter {

		font-size: 1.4rem;

	}

	ul.breadcrumb {

	  text-align: center;	
	  margin: 10% auto 0% auto;
	  padding: unset;
	  list-style: none;
	  
	}

	.boton {

		font-size: 2.3vw;

	}

}

